torch>=1.10
pytorch-lightning>=1.5
transformers>=4.10
tqdm==4.67.1
scikit-learn==1.7.0
pandas==2.3.1
numpy==2.3.1
omegaconf==2.3.0
sentencepiece==0.2.0
protobuf==6.31.1
Unidecode==1.4.0
emoji==2.14.1
regex==2024.11.6
rich==14.0.0
underthesea
unidecode
matplotlib
accelerate
transformers==4.38.2